extends base

block head
  if is_tag()
    title 标签：#{page.tag} | #{config.title}
  else if page.category
    title 分类：#{page.category} | #{config.title}
  else if page.year && page.month
    title 归档：#{page.year} 年 #{page.month} 月 | #{config.title}
  else if !page.posts
    title #{page.title} | #{config.title}
  else
    title= config.title

mixin article(post)
  article
    header
      if page.posts
        h2
          a(href=url_for(post.path))= post.title
      else
        small.right
          a(target='_blank', href=sourceOfPost(post, theme.source_url)) 查看源代码
        h1= post.title

    .article-meta.clearfix
      time.left= post.date.format(config.date_format)

      if post.categories
        ul.tags.left
          - post.categories.each(function(category) {
            li
              a(href=url_for(category.path))= category.name
          - });

      if post.tags
        ul.tags.right
          - post.tags.each(function(tag) {
            li
              a(href=url_for(tag.path))= tag.name
          - });

    .markdown-body!= post.content

    if !page.posts && theme.duoshuo
      .ds-thread(data-thread-key=commentKey(post), data-title=post.title, data-url=post.permalink)

  if !page.posts && post.appends
    for append in formatArray(post.appends)
      .article-widget
        +widget-inter(append)

block body
  for banner in formatArray(theme.banners)
    .article-widget
      +widget-inter(banner)

  if is_tag()
    .article-widget
      strong 标签 ##{page.tag}

  if page.category
    .article-widget
      strong 分类 ##{page.category}

  if page.year && page.month
    .article-widget
      strong 归档 #{page.year} 年 #{page.month} 月

  if page.posts
    - page.posts.each(function(post) {
      +article(post)
    - });

    .archive-pagination
      .paginator!= fixPaginator(paginator({prev_text: '&laquo;', next_text: '&raquo;'}))

  else
    +article(page)
